.container {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: $tablet-width-l) {
  .container {
    padding: 40px;
  }
}

@media (max-width: $desktop-width-s) {
  .container {
    padding: 0 60px;
  }
}
