.footer {
	grid-column: 1 / -1;
	grid-row: 3 / -1;

	border-top: 1px solid #1f1e1c;
	padding: 28px 0;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
}

@media (max-width: $tablet-width-s) {
	.footer__link {
		width: 50%;
	}

	.footer__copyright {
		text-align: right;
		width: 45%;
		font-size: 12px;
		line-height: 18px;
	}
}